@import '../../scss/color.scss';

.facet-option {
    
    padding: 5px 20px;
    border: 1px solid $aquaColor;
    color:$aquaColor;
    border-radius: 20px;
    margin-bottom:10px;
    cursor:pointer;

    &.active {
        // border: 1px solid #555;
        background:$aquaColor;
        color:white;
    }
    > i {
        font-size:30px;
    }
    > p {
        font-size: 15px;
        margin:0;
    }
}